<div class="register-form-container">
  <h2>Register new user</h2>
  <form class="register-form" [formGroup]="form">
    <p>
      <mat-form-field class="form-field">
        <input matInput formControlName="first" placeholder="First name" maxlength="32">
        <mat-error *ngIf="first.hasError('pattern') ">First name is invalid format.</mat-error>
        <mat-error *ngIf="first.hasError('required')">First name is required.</mat-error>
        <mat-error *ngIf="first.hasError('minlength')">First name cannot be less than 2 characters.</mat-error>
        <mat-error *ngIf="first.hasError('maxlength')">First name cannot be longer than 32 characters.</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput formControlName="last" placeholder="Last name" maxlength="32">
        <mat-error *ngIf="last.hasError('pattern')">Last name is invalid format.</mat-error>
        <mat-error *ngIf="last.hasError('required')">Last name is required.</mat-error>
        <mat-error *ngIf="last.hasError('minlength')">Last name cannot be less than 2 characters.</mat-error>
        <mat-error *ngIf="last.hasError('maxlength')">Last name cannot be longer than 32 characters.</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form-field">
        <input matInput formControlName="username" placeholder="Username" maxlength="32">
        <mat-error *ngIf="username.hasError('pattern')">Username is invalid format.</mat-error>
        <mat-error *ngIf="username.hasError('required')">Username name is required.</mat-error>
        <mat-error *ngIf="username.hasError('minlength')">Username cannot be less than 3 characters.</mat-error>
        <mat-error *ngIf="username.hasError('maxlength')">Username cannot be longer than 32 characters.</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput  formControlName="email" type="email" placeholder="Email">
        <mat-error *ngIf="email.hasError('required')">Email is required.</mat-error>
        <mat-error *ngIf="email.hasError('email')">Email is invalid format.</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form-field">
        <input matInput formControlName="password" type="password" placeholder="Password" maxlength="32">
        <mat-error *ngIf="password.hasError('required')">Password is required.</mat-error>
        <mat-error *ngIf="password.hasError('minlength')">Password cannot be less than 6 characters.</mat-error>
        <mat-error *ngIf="password.hasError('maxlength')">Password cannot be longer than 32 characters.</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput formControlName="repeatPassword" type="password" placeholder="Repeat password" maxlength="32">
        <mat-error *ngIf="repeatPassword.hasError('required')">Repeat password is required.</mat-error>
        <mat-error *ngIf="repeatPassword.hasError('minlength')">Repeat password cannot be less than 6 characters.</mat-error>
        <mat-error *ngIf="repeatPassword.hasError('maxlength')">Repeat password cannot be longer than 32 characters.</mat-error>
      </mat-form-field>
    </p>
    <button mat-raised-button [disabled]="!form.valid" (click)="onSubmit($event)">Register</button>
    <mat-error *ngIf="repeatPassword.touched && form.hasError('equals')">Passwords is not equals.</mat-error>
  </form>
</div>
