<div class="content-wrapper">
  <div *ngIf="this.userService.isAuthenticated(); else mainPage">
    <h1>Release notes</h1>

    <mat-card *ngFor="let releaseNote of this.releaseNotes">
      <h3>{{releaseNote.title}}</h3>
      <p>{{releaseNote.description}}</p>
      <p>{{releaseNote.dateAdded}}</p>
    </mat-card>
  </div>

  <ng-template #mainPage>
    <h1>Main page blank of project</h1>
    <span>You need login...</span>
  </ng-template>
</div>