<div class="login-form-container">
  <h2>Login</h2>
  <form class="login-form" [formGroup]="form">
    <p>
      <mat-form-field class="form-field">
        <input matInput formControlName="username" placeholder="Username">
        <mat-error *ngIf="username.hasError('pattern')">Username is invalid format.</mat-error>
        <mat-error *ngIf="username.hasError('required')">Username name is required.</mat-error>
        <mat-error *ngIf="username.hasError('minlength')">Username cannot be less than 3 characters.</mat-error>
        <mat-error *ngIf="username.hasError('maxlength')">Username cannot be longer than 32 characters.</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="form-field">
        <input matInput formControlName="password" type="password" placeholder="Password">
        <mat-error *ngIf="password.hasError('required')">Password is required.</mat-error>
        <mat-error *ngIf="password.hasError('minlength')">Password cannot be less than 6 characters.</mat-error>
        <mat-error *ngIf="password.hasError('maxlength')">Password cannot be longer than 32 characters.</mat-error>
      </mat-form-field>
    </p>
    <button mat-raised-button [disabled]="!form.valid" (click)="onSubmit($event)">Login</button>
  </form>
</div>
