<mat-drawer-container class="drawer-container" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="drawerMode">
        <mat-toolbar color="primary" class="nav-container">Navigation</mat-toolbar>
        <mat-toolbar color="none" >
            <ngx-avatar class="avatar" name="{{this.user?.first + ' ' + this.user?.last}}" src="{{this.user?.photo}}"></ngx-avatar>
            <span>{{this.user?.first + ' ' + this.user?.last}}</span>
        </mat-toolbar>
        <mat-nav-list>
            <h3 mat-subheader>Management</h3>
            <a mat-list-item routerLink="/" (click)="drawer.toggle()">Users</a>
            <a mat-list-item routerLink="/" (click)="drawer.toggle()">Release notes</a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="drawer.toggle(); this.logout()">Logout</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <button *ngIf="this.userService.isAuthenticated()" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="app-title">{{title}}</span>
            <div *ngIf="!this.userService.isAuthenticated()" class="right-toolbar">
                <button mat-flat-button routerLink="/login" color="primary">Login</button>
                <button mat-flat-button routerLink="/register" color="primary">Register</button>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
