.drawer-container {
  height: 100%;
}

.nav-container {
  width: 280px;
}

.app-title {
  margin: 0 10px;
}

.right-toolbar {
  position: absolute;
  right: 10px;
}

.profile-item {
  padding: 8px;
}

.avatar {
  margin: 8px;
}